/* VARIABLES */
//$max-width:1200px;

$for-phone: 600px;
$for-tablet: 900px;
$for-big: 1600px;

$color-background:#f4f3ef;

$color-link:#0064a8;
$color-hover:#a03000;
$color-visited:#98b8c8;

$color-select: #fc5630;  // Orange
//$color-select: #15cd60;  // Green

$color-serv: #989795;
$color-serv-back: rgba(183, 183, 180, 0.2);

$color-border: rgba(80,80,80,0.1);

$font: -apple-system, Arial, sans-serif;
